@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700;800&display=swap');

:root{
--color-primario:rgb(0,173,181);
--color-secundario:rgb(31,40,51);
--color-terciario: rgb(70, 162, 158);
--color-fuente1: #edf5e1;
 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    text-align: center;

   
}

li{
    list-style: none;
    
}

a{
    text-decoration: none;
}

/*Comienzo del encabezado*/ 

header{
    width: 100%;
    height: 3.5em;
    background-color:rgb(238,238,238);
    display: flex;
    align-items: center;
    justify-content:flex-end;
    position: fixed;
    top:0;  
    box-shadow: 0px 2px 20px black;
}

/*barra de navegación*/

nav{
    width: 30%;
    height: 2em;
    margin-right: 15em;
    display: flex;
    align-items:center;
    
   }
   
nav a{
    display: flex;
    justify-content: space-around;
    border-radius: 1.8em;
    text-transform: uppercase;
    color:#1f2833;
    font-size: 1rem;
    letter-spacing: 1px;
  
}

nav .btn-hola{
    width: 11%;
    height: 70%;
    padding: 0.25em; 
}

nav .btn-conocimiento{
    width: 28%;
    height: 70%;
    padding: 0.25em;
}
nav .btn-proyecto{
    width: 21%;
    height: 70%;
    padding: 0.25em;
}

nav a:link{
    color: var(--color-secundario)
}

nav a:hover{
    color: var(--color-primario);
   
}

nav a:active{
    box-shadow: 0px 0px 10px var(--color-primario);
}

.btn-link{
    width: 23%;
    height: 80%;
    padding: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.8em;
    background-color: var(--color-primario);
    color: var(--color-fuente1);
  
}

.btn-link:hover{
    background-color: rgba(92, 234, 241, 0.9);
    color: var(--color-fuente1);
    transition: background-color 1s;

}
/* Fin del encabezado y la barra de navegación*/

/*Comienzo del contenido principal*/

main{
    width: 100%;
    margin: 0 auto;
}

/* Comienzo de la sección de presentación*/

.quien_soy{
    width: 100%;
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:var(--color-secundario);
}

.sobre-mi{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
   
    
}

.sobre-mi h1{
    color: #66fcf1;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 0.3em;

}

.sobre-mi h2, p{
    color: var(--color-fuente1);
  
}


#btn-2{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primario);
    color: var(--color-fuente1);
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 1.8em;
    margin-top: 2.5em;
    padding: 1em;
}

#btn-2:hover{
    background-color: rgba(92, 234, 241, 0.7);
    color: var(--color-fuente1);
    transition: background-color 1s;
}

#btn-2:active{
    box-shadow: 0px 0px 10px var(--color-primario);
}

/*Fin de la sección de presentación*/

/*Comienzo de la sección de conocimientos*/

    /*caja padre de la sección*/

.conocimientos{
    width: 100vw;
    height: 42em;
    padding-bottom: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-secundario);
    background-color:  #c5c6c7;
       
}

/*titulo y párrafo*/
.titulo-seccion{
    width: 35%;
}

.titulo-seccion>h2{
    
    width: 30vw;
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    font-weight: 700; 
    padding-top: 3em;
}

.titulo-seccion>p{
    width: 30vw;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-secundario);
  
}

    /*contendor padre de la grilla de conocimientos*/

#contenedor-grilla-1{
    width: 40em;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    
}

.lenguajes{
    width:10.5em;
    height:10em; 
    margin: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f2833; 
    color: var(--color-fuente1);
    border:1.5px solid rgb(115, 118, 122);
    border-radius: 0.4em;
    box-shadow: 0px 0px 3px black;
  

}

.icono-lenguajes{
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;    
}

.lenguajes:hover{
    border: 1.5px solid #66fcf1;
    color: #66fcf1;
    
}

/*fin de la sección de conocimientos*/

/*comienzo de la sección cita*/

    /*contenedor padre de sección cita*/
#contenedor-cita{
    width: 100%;
    height: 23em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-primario);  
}

.comillas{
    margin-top: 1.2em;
    margin-bottom: 0.7em;
    color: var(--color-secundario);
    font-size: 5rem;
   
}

blockquote{
    width: 40vw;
}
blockquote p{
    color: var(--color-secundario);
    font-size: 1.2rem;
}

#contenedor-cita h2{
    margin-top: 1.2em;
    font-weight: 700;
    color: var(--color-secundario);

}

/*fin de la sección cita*/

/*Comienzo de la sección Mis proyectos*/

    /*contenedor padre de la sección de proyectos*/

.proyectos{
    width: 100%;
    margin: 0 auto;
    background-color:#c5c6c7;
    color: var(--color-secundario);    
  
}

.proyectos>.titulo-seccion{
    margin: 0 auto;
    
}


.contenedor-grilla-2{
    width: 53%;
    margin: 0 auto;
    padding-bottom: 3.5em;
    display: flex;
    flex-wrap: wrap;
   
}


.link-proyectos{
    width: 13em;
    height: 13em;
    margin: 0.3em;
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex-direction: column;
    border-radius: 0.4em;
    background-color: #1f2833; 
    border: 1.5px solid rgb(115, 118, 122);
    box-shadow: 0px 0px 3px black;
}

.link-proyectos span{
   font-size: 1.2rem;
}

.link-proyectos:link, .link-proyectos:visited{
    color: var(--color-fuente1);
}

.link-proyectos:hover{
    border: 1.5px solid #66fcf1;
    color: #66fcf1;
}

.link-proyectos:active{
    box-shadow: 0px 0px 30px var(--color-primario);
}





/*Fin de la sección conocimientos*/

/*Comienzo del formulario de contacto*/

    /*Contendor padre del fomrulario*/

.seccion-contacto{
    width: 100%;
    height: 35em;
    margin-bottom: 5em;
    padding-top: 9em;
    display: flex;  
    justify-content: center;
}

.formulario-contacto{
    width: 62%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0.7em;
    background-color: #1f2833;
   
}

 /*div contactame*/

#contactame{
    width: 50%;
  
    margin: 0 auto;
    padding: 3em 2em ;
    text-align: start;
        
}

#contactame h2{
    margin-top: 0.7em 0;
    font-weight: 800;
    color:#66fcf1;
}

#contactame p{
    width: 75%;
    margin: 0.7em 0;
    font-size: 1rem;
    color: var(--color-primario);
   
}

#contactame ul{
    margin-top: 1.5em;
}
   
.contacto-redes{
    width: 30%;
    display: flex;
    align-items: center;
    border-radius: 1.5em;
    font-size: 1.2rem;    
}

.contacto-redes .icono-form{
    width: 1.7em;
    height: 1.7em;
    margin: 0.6em;
    padding-top: 0.2em;
    border-radius: 50%;
    text-align: center;
}

.contacto-redes h4{
    font-size: 1rem;
    font-weight:normal;
    color: var(--color-primario);
}


#btn-mail{
    width: 43%;
}

.icono-form{
    color: var(--color-primario);
}

.contacto-redes:hover h4{
    color: var(--color-primario); 
}

.contacto-redes:hover .icono-form{
    color:white;
    background-color: var(--color-primario);  
}


.contacto-redes:active{
    box-shadow: 0px 0px 30px var(--color-primario);
}


 /*div escribime*/

form{
    width: 100%;
    margin: 0.7em 0;
    font-size: 1rem;
    display: flex;  
    flex-direction: column;
    text-align: left;
    
}

#escribime{
    width: 50%;
    margin: 0 auto;
    padding: 3em 2em ;
    text-align: start;
    
}


#escribime h2{
    margin-top: 0.7em 0;
    font-weight: 800;
    color:#66fcf1;
  
}

label{
    font-weight: 600;
    color: var(--color-primario);
}

input, textarea{
    border: 0;
    outline: none;
    margin-top: 0.3em;
}

#nombre-apellido{
    display: flex;
    flex-wrap: nowrap;
}

#nombre-apellido input[type="text"]{
    max-width: 15em;
    width: 100%;
    height: 3em;
    padding: 0.3em;
    border-radius: 3.1em;
    
}

form input[type="email"]{
    width: 90%;
    height: 3em;
    padding: 0.3em;
    border-radius: 3.1em;
}

textarea{
    width: 100%;
    margin-bottom: 0.6em;
    padding-left: 0.6em;
    padding-top: 0.6em;
    border-radius: 1em;
}

input::placeholder{
    padding-left: 0.6em;
}

#nombre-apellido input[type="text"]:focus{
    border: 1px solid var(--color-primario); 
    box-shadow: 0px 0px 10px var(--color-primario); 
}

form input[type="email"]:focus, textarea:focus{
    border: 1px solid var(--color-primario); 
    box-shadow: 0px 0px 10px var(--color-primario); 
}

/* intenté hacer los cambios de color y la validadción pero no me 
salió como está en el portfolio de ejemplo


#nombre-apellido input[type="text"]:valid{
    border: 1px solid rgb(35, 182, 121); 
    box-shadow: 0px 0px 10px rgb(35, 182, 121);
}

form input[type="email"]:valid, textarea:valid{
    border: 1px solid rgb(35, 182, 121); 
    box-shadow: 0px 0px 10px rgb(35, 182, 121);
}

#nombre-apellido input[type="text"]:invalid{
    border: 1px solid rgb(218,0,55); 
    box-shadow: 0px 0px 10px rgb(218,0,55);
}

form input[type="email"]:invalid,textarea:invalid{
    border: 1px solid rgb(218,0,55); 
    box-shadow: 0px 0px 10px rgb(218,0,55);
}*/

form input[type="submit"]{
    max-width: 120px;
    width: 100%;
    height: 2.5em;
    margin: 1em 0;
    border-radius: 3.1em;
    background-color: var(--color-primario);
    font-size: 1.2rem;
    color: var(--color-fuente1);
    border: 0;

}

form input[type="submit"]:hover{
    background-color: rgba(92, 234, 241, 0.9);
    color: var(--color-fuente1);
    transition: background-color 1s;
}

form input[type="submit"]:active{
    box-shadow: 0px 0px 10px var(--color-primario);
}


/*Fin de la sección de contacto*/


/*Comienzo del pie de página*/

footer{
    width: 100%;
    height: 13em;
    background-color: var(--color-primario);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.footer-nav{
    width: 25%;
    margin:0 auto;
    padding-top: 2em;
  
}
    
.footer-nav> ul> li{
display: inline;

}

.footer-nav> ul> li> a{
    margin: 0.3em;
    color: var(--color-fuente1);
    text-transform: uppercase;
    font-size: 1rem;
}

#links-contacto{
    display: flex;
    justify-content: center;

}

.contenedor-icono{
    width: 2em;
    height: 2em;
    margin: 0.6em;
    background-color: var(--color-fuente1);
    border-radius: 50%;
    padding-top: 0.3em;
}

.icono-redes{
    color: var(--color-secundario);
}


.icono-redes:visited{
    color: var(--color-primario);
}

.contenedor-icono:hover{
    background-color: var(--color-primario);
    border: 1px solid var(--color-fuente1);
    color: var(--color-fuente1);
}

.contenedor-icono:active{
    box-shadow: 0px 0px 25px rgb(202, 202, 202);
   
    }

footer p{
    font-size: 1.2rem;
}    

footer p i{
    color:rgb(218,0,55);
}

/*Fin del pie de página*/

/* Comienzo de la adaptabilidad (media queries)*/




@media(max-width: 1024px){

    
}

@media(max-width: 768px){

    header{
        display: none;
    }

    #section-hola{
            display: flex;
            flex-direction: column;
}

.titulo-seccion{
    width: 70%;  
    margin: 0 auto;
    border: 1px solid;
   display: flex;
   flex-direction: column;
  
}
.titulo-seccion h2{
    width: 80%;
    padding-top: 1em;
    border: 1px solid teal;
}

}
@media(max-width: 480px){


}

@media(max-width: 320px){
    
}